.articles {
  height: 18rem;
  border: 3px solid black;
  border-radius: 10px;
  margin: 2rem;
  padding: 1em;
  gap: 1em;
  display: flex;
  align-items: center;
}

.main-display-images {
  height: 15rem;
  width: 25rem;
  object-fit: cover;
  border: 1.5px solid black;
  border-radius: 5px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.see-more, 
.home {
  background: linear-gradient(to bottom, #8b9eb6 5%, #ccccc6 100%);
  border-radius: 10px;
  border: 3px solid #000000;
  cursor: pointer;
  color: black;
  font-size: 1em;
  padding: 0.3em 1em;
  text-decoration: none;
}

.no-results {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

@media screen and (max-width: 1140px) {
  .articles {
    height: 20rem;
  }
}

@media screen and (max-width: 990px) {
  .main-display-images {
    width: 20rem
  }
}

@media screen and (max-width: 885px) {
  .articles {
    height: 35rem;
    flex-direction: column;
    justify-content: center;
  }

  .main-display-images {
    width: 25rem
  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: center
  }
}

@media screen and (max-width: 570px) {
  .articles {
    height: auto;
  }
  .main-display-images {
    width: 20rem;
  }
}

@media screen and (max-width: 400px) {
  .main-display-images {
    width: 15rem;
  }
}

@media screen and (max-width: 325px) {
  .main-display-images {
    width: 11rem;
  }
}