article {
  margin-top: 1rem
}

.detailed-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem
}

.detailed-article-image {
  width: 40rem;
  border: 3px solid black;
  border-radius: 10px;
}

.back,
.outside-source {
  background: linear-gradient(to bottom, #8b9eb6 5%, #ccccc6 100%);
  border-radius: 10px;
  border: 3px solid #000000;
  cursor: pointer;
  color: black;
  font-size: 1em;
  padding: 0.3em 1em;
  margin: 1rem .5rem 0rem;
  text-decoration: none;
}

@media screen and (max-width: 670px) {
  .detailed-article-image {
    width: 35rem;
  }
}

@media screen and (max-width: 585px) {
  .detailed-article-image {
    width: 30rem;
  }
}

@media screen and (max-width: 495px) {
  .detailed-article-image {
    width: 25rem;
  }
}

@media screen and (max-width: 415px) {
  .detailed-article-image {
    width: 20rem;
  }

  .detailed-article,
  .back,
  .outside-source {
    font-size: .9em;
  }
}
@media screen and (max-width: 335px) {
  .detailed-article-image {
    width: 15rem;
  }

  .detailed-article,
  .back,
  .outside-source {
    font-size: .8em;
  }
}