article {
  margin-top: 1rem
}

.detailed-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem
}

.detailed-article-image {
  width: 40rem;
  border: 3px solid black;
  border-radius: 10px;
}

.back,
.outside-source {
  background: linear-gradient(to bottom, #8b9eb6 5%, #ccccc6 100%);
  border-radius: 10px;
  border: 3px solid #000000;
  cursor: pointer;
  color: black;
  font-size: 1em;
  padding: 0.3em 1em;
  margin: 1rem .5rem 0rem;
  text-decoration: none;
}
