header {
  display: flex;
  justify-content: center;
  background-color: rgb(143, 150, 157);
}

h1 {
  font-size: 2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media screen and (max-width: 545px) {
  h1 {
    font-size: 1.5em;
  }
}